<div class="container">
  <div class="row">
    <div class="col-12 text-md-center text-sm-left">
      <h1>Spotify artist search</h1>
      <!--<a class="btn btn-primary" href="#">BUTTON</a>-->
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input (focus)="doSearch()" type="search" name="search" class="form-control" placeholder="Type your artist">
    </div>
  </div>
  <div class="row">
    <ul>
    <li *ngFor="let a of searchResults?.artists?.items">
      <div class="img">
        <img class="img-fluid" *ngIf="a.images.length" src="{{a.images[0].url}}" alt="{{a.name}}">
      </div>
      <div class="artist">
        <h3>{{a.name}}</h3>
        <p>Popularnost: {{a.popularity}}</p>
        <p>Pratioca: {{a.followers.total}}</p>
      </div> 
    </li>
  </ul>
    <!--<ul>
      <li *ngFor="let artist of searchResults?.artists?.items">
        <h2>{{artist.name}}</h2>
        <p>Followers: {{artist.followers.total | number}}</p>
        
        <pre style="color: yellow">{{artist|json}}</pre>
      </li>
    </ul>-->
    <!--<pre style="color: yellow">{{searchResults|json}}</pre>-->
    <!--<div class="col-md-6 red">Neki naslov</div>
    <div class="offsfet-md-3 col-md-6 green m-3 p-5">2 Neki naslov</div>-->
  </div>


</div>
