/* You can add global styles to this file, and also import other style files */
body {
    font: 16px sans-serif;  
    background: #333; 
    color: #fff;
    text-align: center;
}

h1 {
    color: #2ebd59;
}

.form-control {
    padding: 1rem;
    background: transparent;
    border: 1px solid #2ebd59;
    color: #2ebd59;
    font-size: 2rem;
    width: 90%;
    margin-bottom: 1rem; 
}

.form-control:focus {
    border: 1px solid #00ff4d;
    outline: none;
}

.result-box {
    text-align: left;
    width: 90%;
    height: 70vh;
    overflow: auto;
    margin: 0 auto;
    border-top: 1px solid #2ebd59;
    border-bottom: 1px solid #2ebd59;
}

.result-box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.result-box ul li {
    background: rgba(46, 189, 89, .06);
    padding: 1rem;
    margin: 1rem 0;
}

.img {
    width: 100px;
    height: 100px;
    background: #333;
    float: left;
    margin-right: 1rem;
}

.img img {
    width: 100%;
    max-height: 100%;
}

.artist h3 {
    margin-top: 0;
}

pre {
    height: 300px;
    overflow: auto;
    text-align: left;
    font-size: 14px;
}